html,body{
    background: #d5d5d5;
}

main{
    margin-top: 120px;
}

.theme-button{
    display:none !important;
}

/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: green;
}

/*Add a red text color and an "x" when the requirements are wrong */
.invalid{
    color: red;
}
.vali {
    color: white;
}

/*Add a red text color and an "x" when the requirements are wrong */
.invali {
    color: red;
}

/*placing message accordingly*/
.me{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.mess{
    font-size: 40px;
}
p{
    margin:0px;
}
#message {
    background-color:white;
    /*position: absolute;*/
    z-index:100;
    /*margin-left:388px;*/
    margin-top:0px;
    width:290px;
}
#matching{
    background-color:white;
    /*position: absolute;*/
    z-index:100;
    /*margin-left:388px;*/
    margin-top:0px;
    width:290px;
}

/*data tables search*/
.data-search .search{
    position: relative;
    width: 230px;
    /*border-radius: 20px;*/
    background: #fff;
    margin-bottom: 10px;
}
.data-search input {
    border: initial;
    background: 0 0;
    outline: initial !important;
    font-size: .8rem;
    width: 93%;
    color: #3a3a3a;
    padding: .4rem 1rem;
    line-height: 2;
}
.data-search select {
    border: initial;
    background: 0 0;
    outline: initial !important;
    font-size: .8rem;
    width: 100%;
    color: #3a3a3a;
    padding: .4rem 1rem;
    line-height: 2;
}
.data-search .search-icon {
    font-size: 17px;
    border-radius: 10px;
    color: #d7d7d7;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: -10px;
    right: 3px;
    text-align: center;
    cursor: pointer;
}


.tabledit-input:disabled {
    display: none
}


/*calendar*/
#tableID{background: #fff; position:relative; border:1px #ddd solid;}
#tableID th{font-size:1em; padding: 10px 16px 0px 5px;}
.table-striped > tbody > tr:nth-of-type(2n+1){/*background: #aaa;*/ color:#333;}
.day{width: 80px; height: auto; font-size: 13px; text-align: left; overflow: visible;}
.daydate{color: #333; width: auto; float: left;}
.ad-details{padding:5px 10px; min-width: 700px; background: #fff; border:2px #158DA6 solid; position:absolute; bottom:0px; display:none;  z-index: 100; right: 0px; }
.tbl-wrapper{position:relative; max-height: 450px; overflow: auto; width: 100%;}
.ad-list{padding: 0; margin: 0;}
.ad-list li{list-style: none; padding: 3px 0px;}
/*.available{background: #158DA6; color: white; outline: 1px #fff solid;}*/
/*.available .daydate{color: white;}*/
.calendar .header{font-weight: bold;
    font-size: 1.1em !important;
    /*background: #158DA6;*/
    /*color: #fff;*/
}
.summarytbl .header{font-weight: bold;
    font-size: 1.1em !important;
    background: #158DA6;
    color: #fff;
}
.info{}
.ad-details.show{display:block !important; font-size: 13px;color: #333; border-radius:4px; }
.open-button{
    font-size: 12px;
    font-weight: bold;
    min-width: 27px;
    float: right;
    padding:5px;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}

.open-button.tv{
    background:#158DA6;
}

.open-button.radio{
    background: #ffb318;
}

.close-button{
    float: right;
    padding:5px;
    cursor: pointer;
    margin-bottom: 5px;
    color:#f00;
    z-index: 10;
}

#reportChart,
#reportChart2{
    min-width:500px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:1000px;            /* As IE6 ignores !important it will set width as 1000px; */
}

.fixed-top{
    /*background: url("../img/Banner3.png");*/
    border-bottom: 1px #45097C solid;
}

.main-menu{
    background: #45097C !important;
}

.main-menu ul li a{
    color:#fff !important;
}

.main-menu ul li a:hover, .main-menu ul li.active a{
    color:#0EB6C9 !important;
}

.sub-menu{
    border-right:1px #45097C solid;
}

.btn-primary, .btn-secondary{
    background-color: #0EB6C9;
    border-color: #0EB6C9;
}

.btn-primary:hover, .btn-secondary:hover{
    background-color: #1acfe0;
    border-color: #1acfe0;
}

.menu .main-menu ul li.active::after{
    background: #0EB6C9;
}

.btn-danger{
    background-color: #C1259B;
    border-color: #C1259B;

}

.btn-danger:hover, .btn-danger:active{
    background-color: #e02fb4;
    border-color: #e02fb4;
}

.btn-light{
    color:#fff;
    background-color: #45097C;
    border-color: #45097C;
}

.btn-light:hover{
    color:#fff;
    background-color: #711BBF;
    border-color: #711BBF;
}

.logo-mobile{
    width: 70px;
    height: 70px;
}

.register{
    height: 1160px;
    overflow: hidden;
}

footer.page-footer{
    border-top: 1px solid #bbb;
    color:  #fff;
}

footer.page-footer a{
    color:  #fff;
}

table.dataTable td{
    padding:4px 15px;
    border-bottom:0px;
}

.slick-dot{
    /*background: #fff;*/
}

.slick-track{
    padding-bottom: 0px;
}

.card.promo-slider{
    box-shadow: none !important;
}